body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(blue, rgb(255, 225, 0));
}
nav {
  margin-right: auto;
}
h1 {
  font-size: 1.3rem;
  color: white;
  background: blue;
  padding: 1rem;
}
h2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
#userTools {
  background: white;
  padding: 1rem;
}
#userTools a {
  text-decoration: none;
  color: navy;
  transition-property: color;
  transition: color 0.5s ease-in;
}
#userTools a:hover {
  color: rgb(255, 208, 0);
}
main {
  padding: 1rem;
}
.navbar {
  list-style: none;
  padding: 1.4rem 0;
  background-color: gold;
  display: flex;
  flex-direction: column;
}
.navbar > li {
  font-size: 12px;
  padding: 0 1rem;
}
.navbar > li > a {
  color: blue;
  text-decoration: none;
  transition: border 0.5s ease-in-out;
}
.navbar > li > a:hover {
  border-bottom: 3px solid blue;
}
.navbar > li > a.active {
  border-bottom: 3px solid blue;
}
img {
  height: 30vh;
}
input[type="submit"],
button {
  color: red;
  background-color: white;
  padding: 0.5rem 3rem;
  transition-property: color, background;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
input[type="submit"]:hover,
button:hover {
  color: blue;
  background-color: yellow;
}
fieldset {
  padding: 1rem;
}
p {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 375px) {
  header,
  .navbar {
    flex-direction: row;
  }
}
